.search {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 500px;
  width: 0;
  cursor: pointer;
  transition: width .2s ease-in-out, transform .1s ease-in-out .2s;
  transform: translateY(0) translateX(-20px);
}

.input {
  padding: 12px 23px;
  width: 100%;
  border-radius: 25px;
  border: none;
  outline: none;
  background-color: var(--background);
  transition: background-color .15s ease-in-out;
  border: 1px solid var(--darkLine);
  font-size: 18px;
  color: var(--trueLight);
  transition: border-color .2s ease-in-out;
  transition: padding .3s ease-in-out;
}

.input::-webkit-search-cancel-button {
  display: none;
}

.input::placeholder {
  color: var(--gray99);
  font-size: 18px;
}

.input:focus {
  background-color: var(--darkLine);
  border: 1px solid var(--darkLine);
}

.input:hover {
  background-color: var(--darkLine);
}

.search svg {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 9px;
  left: 9px;
}

.clearButton {
  position: absolute;
  padding: 0;
  background: none;
  margin: 0;
  border: none;
  outline: none;
  right: 7px;
  top: 6px;
}

.search svg path {
  transition: stroke .2s ease-in-out;
}


.clearButton svg {
  position: static;
}

.search:hover .input {
  border-color: var(--commentBorder);
}

.search:hover svg path {
  stroke: var(--commentBorder);
}

.isOpen.search {
  transform: translateY(105%);
  transition: width .2s ease-in-out .15s, transform .1s ease-in-out;
  width: calc(100% - 30px);
}

.isOpen.search .input {
  padding: 12px 37px;
}

@media(max-width: 1024px) {
  .isOpen.search {
    position: absolute;
  }

  .input {
    font-size: 14px;
    padding: 12px 21px;
  }

  .input::placeholder {
    font-size: 14px;
  }

  .search svg {
    top: 7px;
    left: 7px;
  }
}
