.fruit__box {
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  position: relative;
  touch-action: none;
}

.fruit__target {
  position: absolute;
  right: 30px;
  left: 30px;
  height: 100%;
  max-height: 270px;
  opacity: .4;
  bottom: 35px;
  z-index: 10;
}
