.title {
  font-size: 20px;
  margin: 0;
  padding: 0;
  padding-top: 35px;
  margin-bottom: 30px;
  color: var(--colorPurple);
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.item {
  font-size: 16px;
  border: 1px solid var(--commentBorder);
  color: var(--orange);
  padding: 5px 10px;
  border-radius: 5px;
}
