.link {
  height: 40px;
  display: flex;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 7px;
  transition: scale .7s ease;
}

.nameToolki,
.nameNamix {
  font-weight: 900;
  font-size: 24px;
  padding-top: 6px;
  color: var(--colorPurple);
  transition: color .2s ease-in-out;
}

.nameNamix {
  color: var(--trueLight);
}

.link:hover .logo {
  scale: 1.06;
}

.link:hover .nameToolki {
  color: var(--trueLight);
}

.link:hover .nameNamix {
  color: var(--colorPurple);
}
