@font-face {
  font-family: 'Japanese 3017';
  src: url('/fonts/Japanese_3017.otf') format('opentype'),
    url('/fonts/Japanese_3017.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Qanelas';
  src: url('/fonts/Qanelas-Medium.woff2') format('.woff2'),
    url('/fonts/Qanelas-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

:root {
  --background: #22001b;
  --background-gray: #66496D;
  --main-white: #ffffff;
  --main-gray: rgba(255, 255, 255, 0.5);
  --font-family: "Qanelas", sans-serif;
  --second-family: "Japanese 3017", sans-serif;
  --gradient-orange: linear-gradient(128deg, #ff6e05 0%, #f83c27 100%);
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  font-size: 22px;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Roboto', serif;
  background-color: var(--background);
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#root {
  height: 100%;
}

.blink {
  animation: blink-animation 1s linear infinite;
}

@keyframes blink-animation {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: .1;
  }
}

