.repository {
  background-color: var(--trueGreenBlack);
  padding: 25px;
  margin-top: -14px;
  box-shadow: 0px 0px 3px 0px rgba(255, 255, 255, 0.15);
  height: calc(100% + 14px);
}

.head {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}

.link {
  font-size: 20px;
  font-weight: 900;
}

.image {
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.commitAt {
  color: var(--gray99);
  line-height: 100%;
  padding-top: 3px;
}

.body {
  display: flex;
  flex-direction: column;
}

.descr {
  color: var(--trueLight);
  font-size: 26px;
  margin-bottom: 15px;
}
